@import "~@angular/material/theming";

@mixin theme() {
  @include mat-core();
  $app-primary: mat-palette($mat-indigo);
  $app-accent:  mat-palette($mat-pink, A200, A100, A400);
  $app-theme: mat-light-theme($app-primary, $app-accent);
  @include angular-material-theme($app-theme);
}

@mixin main() {
  :host {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: hidden;
  }
}


@mixin page() {
  :host {
    width: 100%;
  }
}


@mixin pageFlex() {
  :host {
    width: 100%;
    display: flex;
  }
}

@mixin pageAuth() {
  :host {
    background: url(/assets/images/theme/error-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 1rem;
    min-height: 100%;
    width: 100%;
    display: flex;
    position: relative;

    &:before {
      background-color: rgba(0,0,0,.65);
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }
}
