//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@angular/material/theming";
@import "utils";
@import "fonts";
@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import "~bootstrap/scss/bootstrap-grid";
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "./forms";
@import "./keyframes";

@include theme();

html, body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  position: relative;
}

*, /deep/ * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
