@import '~@angular/material/theming';

// Toolbar
/////////////////////////

.toolbar {
  background-color: mat-color($mat-light-blue, 800);
  color: #fff;
}

.toolbar-row {
  padding: 0 1rem;
}

.toolbar-icon {
  padding: 0 14px;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

// Logo
/////////////////////////

.logo {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.logo-icon {
  font-size: 2rem;
  line-height: 1;
  vertical-align: sub;
}

.logo-title {
  font-size: 1rem;

  .logo-icon ~ &:before {
    content: '| ';
  }
}
