:host {
  display: inline-block;

  &:not(.file-input-disabled) {
    cursor: pointer;
  }
}

input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.filename {
  display: inline-block;
}

/deep/ .mat-form-field-label,
/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  display: block;
  top: 0;
  font-size: 0.75rem;
}
