<mat-form-field>
  <app-input-file [formControl]="imageFormControl" [required]="options.required" (change)="onChange($event)"
                  [placeholder]="'shared.imageWidget.placeholder' | translate" [multiple]="options.multiple"
                  [valuePlaceholder]="'shared.imageWidget.valuePlaceholder' | translate"></app-input-file>
  <mat-icon matSuffix>folder</mat-icon>
  <mat-error *ngIf="imageFormControl.hasError('required')">
    {{ 'shared.imageWidget.error.required' | translate }}
  </mat-error>
  <mat-error *ngIf="imageFormControl.hasError('maxContentSize')">
    {{'shared.imageWidget.error.maxSize' | translate }}
    {{imageFormControl?.getError('maxContentSize').maxSize | byteFormat }}
    ({{ imageFormControl?.getError('maxContentSize').actualSize | byteFormat }}).
  </mat-error>
  <mat-hint *ngIf="submitted">
    {{'shared.imageWidget.loading' | translate }}
  </mat-hint>
</mat-form-field>
<div *ngIf="options.showPreview && formControl && formControl.value">
  <div class="preview-list" *ngIf="options.multiple">
    <div class="preview-box" *ngFor="let preview of formControl.value">
      <img class="preview-box-img" [src]="preview.origin" alt="">
    </div>
  </div>
  <div class="preview-box" *ngIf="!options.multiple">
    <img class="preview-box-img" [src]="formControl.value.origin" alt="">
  </div>
</div>
